<form action="/posts" method="GET">
    <fieldset class="form-group">
        <legend class="sr-only">
            Search
        </legend>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <label for="search" class="input-group-text">Search</label>
            </div>
            <input type="text" name="search" id="search" class="form-control" placeholder="Search" value="<%= query.search %>">
        </div>
    </fieldset>
    <fieldset class="form-group">
        <legend class="d-none">
            Location
        </legend>
        <div>
            <label class="sr-only" for="location">Location</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Location</div>
                </div>
                <input type="text" name="location" class="form-control" id="location" value="<%= query.location %>" placeholder="Address or ZIP Code">
                <a href="#" id="find-me"><i class="fas fa-map-marker-alt ml-2" title="Use My Location"></i></a>
            </div>
        </div>
            <p id="status"></p>
    </fieldset>
    <fieldset class="form-group-inline">
        <div class="input-group">
            <div class="input-group-prepend">
                <legend class="input-group-text">
                    Distance (Miles)
                </legend>
            </div>
            <div class="form-check form-check-inline ml-n1 mr-0">
                <input type="radio" name="distance" id="distance25" class="form-check-input form-control" value="25" <%= query.distance === '25' ? 'checked' : '' %>>
                <label for="distance25" class="form-check-label form-control">25</label>
            </div>
            <div class="form-check form-check-inline ml-n1 mr-0">
                <input type="radio" name="distance" id="distance50" class="form-check-input form-control" value="50" <%= query.distance === '50' ? 'checked' : '' %>>
                <label for="distance50"class="form-check-label form-control">50</label>
            </div>
            <div class="form-check form-check-inline mx-n1">
                <input type="radio" name="distance" id="distance100" class="form-check-input form-control" value="100" <%= query.distance === '100' ? 'checked' : '' %>>
                <label for="distance100"class="form-check-label form-control">100</label>
            </div>
        </div>
        
        
        <div><a href="#" id="clear-distance">Clear Distance</a></div>
    </fieldset>
    <fieldset class="form-group">
        

        <div class="input-group">
            <div class="input-group-prepend">
                <legend class="input-group-text">
                    Price
                </legend>
            </div>
            <input type="number" name="price[min]" id="min" class="form-control" min="0" max="10000" step="1" value="<%= query.price ? query.price.min : '' %>" placeholder="Min">
            <label for="min" class="sr-only">Min</label>
            <input type="number" name="price[max]" id="max" class="form-control" min="0" max="10000" step="1" value="<%= query.price ? query.price.max : '' %>" placeholder="Max">
            <label for="max" class="sr-only">Max</label>
        </div>

        
    </fieldset>
    <fieldset class="starability-basic mb-2">
        <legend>
            Rating
        </legend>

        <div class="d-none">
            <input type="radio" name="avgRating" id="zero-stars" class="input-no-rate" value="0" <%= query.avgRating && (query.avgRating === 0) ? 'checked' : '' %>>
            <label for="zero-stars">0 stars</label>
        </div>
        <input type="radio" name="avgRating" id="one-star" value="1 <%= query.avgRating && (query.avgRating === 1) ? 'checked' : '' %>">
        <label for="one-star">1 star</label>
        <input type="radio" name="avgRating" id="two-stars" value="2" <%= query.avgRating && (query.avgRating === 2) ? 'checked' : '' %>>
        <label for="two-stars">2 stars</label>
        <input type="radio" name="avgRating" id="three-stars" value="3" <%= query.avgRating && (query.avgRating === 3) ? 'checked' : '' %>>
        <label for="three-stars">3 stars</label>
        <input type="radio" name="avgRating" id="four-stars" value="4" <%= query.avgRating && (query.avgRating === 4) ? 'checked' : '' %>>
        <label for="four-stars">4 stars</label>
        <input type="radio" name="avgRating" id="five-stars" value="5" <%= query.avgRating && (query.avgRating === 5) ? 'checked' : '' %>>
        <label for="five-stars">5 stars</label>
    </fieldset>
    <input type="submit" class="btn btn-primary">
    <p class="d-block"><a href="/posts">Reset Search</a></p>
</form>