<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="/img/favicon.png" type="image/x-icon/">
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/75e02839f8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/starability-basic.min.css"/>
    </head>
    <body>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="/">SurfShop</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
			  <a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'all_posts' ? 'active' : '' %>" href="/posts">Posts<span class="sr-only">(current)</span></a>
				<% if(!currentUser){ %>
					<a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>" href="/login" id="login_button">Log In</a>
					<a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register" id="signup_button">Sign Up</a>
				<% } else { %>
					<a class="nav-item nav-link" href="/profile/<%= currentUser._id %>">Signed In As <%= currentUser.username %></a>
					<a class="nav-item nav-link" href="/logout" id="signup_button">Log Out</a>
					<a class="nav-item nav-link <%= typeof page !== 'undefined' && page === 'new' ? 'active' : '' %>" href="/posts/new" id="new_post">New Post</a>
				<% }; %>
			<form name="searchCampgrounds" action="/campgrounds" method="get" class="form-inline">
				<div class="input-group">
					<input class="form-control mr-sm-2" type="search" placeholder="Search Campgrounds" aria-label="Search" name="searchTerm">
					<button class="btn btn-outline-light my-2 my-sm-0 input-group-append" type="submit">Search</button>
				</div>
			</form>
			</div>
		  </div>
		</nav>

		<div class="container mt-2">
			<% if(success && success.length) { %>
				<div class="alert alert-success">
					<%= success %>
				</div>
			<% } %>
			<% if(error && error.length) { %>
				<div class="alert alert-danger">
					<%= error %>
				</div>
			<% } %>
		</div>
		
		
		
                
        <%- body -%>

        <footer class="container mt-4">
			<p id="copyright">
				Copyright 2019 Robert Greenstreet
			</p>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="/js/script.js" type="text/javascript"></script>
        </footer>
    </body>
</html>