<% layout('layouts/boilerplate') -%>
<div class="container">
    <div class="jumbotron" id="homeHero" style="background-image: url('<%= posts[randomIndex].images[0].url %>'); background-size:cover; background-position:center;">
        <div class="row">
            <div class="col-5">
                <div class="card p-2">
                    <h1><%= title %></h1>
                    <p>Welcome to <%= title %></p>
                    <a href="/posts" class="btn" style="background-color:rgb(<%= color %>);">View All Posts</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="map"></div>
    </div>
</div>

<script>
    mapboxgl.accessToken = '<%= mapBoxToken %>';
    var posts = {features:<%- JSON.stringify(posts) %>};
</script>
<script src = "/js/allPostsClusterMap.js"></script>
