<% layout('layouts/boilerplate') -%>
<div class="container">
	<h1>Edit Post!</h1>

	<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
		<div><input type="text" name="post[title]" placeholder="Title" value="<%= post.title  %>"></div>
		<div><input type="number" step=".01" name="post[price]" placeholder="Price" value="<%= post.price  %>"></div>
		<div>
			<input type="file" id="imageUpload" accept="images/*" name="image" multiple />
			<div>
				<% post.images.forEach(function(image, i) { %>
					<img src="<%= image.url %>" width="100px" />
					<label for="image<%= i %>">Delete?</label>
					<input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
				<% }); %>
			</div>
		</div>
		<div>
			<textarea name="post[description]" placeholder="Description"><%= post.description  %></textarea>
		</div>
		<div><input type="text" name="post[location]" placeholder="Location" value="<%= post.location %>"></div>

		<input type="submit">
	</form>
	<a href="/posts/<%= post.id %>">
		<button>
			Back
		</button>
	</a>
</div>

<script src="/js/post-edit.js"></script>