<!DOCTYPE html>
<html>
    <body>
        <h1>Edit Post</h1>
        <form action="/posts/<%= post._id %>?_method=put" method="post" enctype="multipart/form-data">
            <input type="text" name="post[title]" value="<%= post.title %>">
            <input type="number" step=".01" name="post[price]" value="<%= post.price %>">
            <textarea name="post[description]" ><%= post.description %></textarea>
            <input type="text" name="post[location]" value="<%= post.location %>">
            <input type="file" name="image" multiple="multiple" accept="images/*">
            <p>Select up to 4 images (jpg,jpeg,png,gif)</p>
            <button type="submit">
                Submit
            </button>
        </form>
    </body>
</html>