<% layout('layouts/boilerplate') -%>
<div class="container">
    <div class="jumbotron">
        <h1>Posts Index</h1>
        <a href="/posts/new"><button class="btn btn-info">New Post</button></a>
    </div>
    <div class="card"><div id="map"></div></div>
    <% include ../partials/pagination %>
    <div class="card-columns">
    <% posts.docs.forEach(post => { %>
        <div class="card">
            <div class="post">
                <div class="card-img-top">
                    <% if(post.images && post.images.length) { %>
                        <img src="<%= post.images[0].url %>" width="100px">
                    <% } %>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h1><%= post.title %></h1>
                    </div>
                    <div class="card-text">
                        <p>Price: $<%= post.price %></p>
                    <p>Description: <%= post.description.substring(0,50) %>...</p>
                    <p>Location: <%= post.location %></p>
                    <p><a href="/posts/<%= post._id %>">More Info</a></p>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
    </div>
    <% include ../partials/pagination %>
</div>

<script>
    mapboxgl.accessToken = '<%= mapBoxToken %>';
    var posts = {features:<%- JSON.stringify(posts.docs) %>};
</script>
<script src = "/js/allPostsClusterMap.js"></script>