<% layout('layouts/boilerplate') -%>
<div class ='container'>

    <h1><%= post.title %></h1>
    <% post.images.forEach(image => { %>
        <img src="<%= image.url %>" width="100px" style="margin-bottom:20px;">
    <% }); %>
    
    <p>Price: <%= post.price %></p>
    <p>Description: <%= post.description %></p>
    <p>Location: <%= post.location.formattedAddress %></p>
    <div CLASS="card m-2">
        <div id="map"></div>
    </div>
    <p><a href="/posts/<%= post._id %>/edit">
        <button>Edit</button>
    </a></p>
    <p><form action="/posts/<%= post.id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form></p>
    <p>
        <a href="/posts">
        <button>Back</button>
        </a>
    </p>
    
</div>

<script>
    var lat = <%= post.location.lat %>;
    var lng = <%= post.location.lng %>;
    var contentString = `
        <strong><%= post.title %><br />
        <%= post.location.formattedAddress %></strong>
    `;
</script>
<script src="/js/post-show.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLEMAPS_KEY %>&callback=initMap"></script>