<% layout('layouts/boilerplate') -%>
<div class ='container'>
    <div class="card mb-2">
        <div class="card-header">
            <h1><%= post.title %></h1>
        </div>

        <div class="card-body mb-2">
            <% post.images.forEach(function(image) { %>
                <img src="<%= image.url %>" width="100px" style="margin-bottom:20px;">
            <% }); %>
            
            <div class="card-text">
                <p>Price: <%= post.price %></p>
            <p>Description: <%= post.description %></p>
            <p>Location: <%= post.location.formattedAddress %></p>
            </div>
            <div CLASS="card">
                <div id="map" class="card-img-top"></div>
            </div>
        </div>
    </div>
    <div class="card mb-2 bg-light">
        <div class="card-header">
            <h2>Reviews</h2>
        </div>
        <div class="card-body">
            <h4>Average Rating: <%= (post.averageRating ? (Math.round(post.averageRating*4)/4).toFixed(2)+" Stars ("+post.reviews.length+" Review"+(post.reviews.length === 1 ? '' : 's')+")" : 'No Reviews Yet') %></h4>
                <% post.reviews.forEach((review) => { %>
                    <div class="review">
                        <p><%= review.body %> - <%= review.rating %> Stars<%= (review.author.username ? ' - '+review.author.username : ' - Anonymous') %></p>
                        <% if(review.author.equals(currentUser._id)) { %>
                            <div class="showEditControls mt-2">
                                <button class="btn btn-warning toggle-review-edit-form mb-2">Edit Review</button>
                                <div id="editReview[<%= post.reviews.indexOf(review) %>]" class="edit-review-form" style="display:none;">
                                    <h2>Edit Review</h2>  
                                    <form class="form-inline justify-content-between" action="/posts/<%= post.id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
                                        <div class="form-group">
                                            <label for="reviewBody[<%= post.reviews.indexOf(review) %>]" class="d-none form-label">Your Review</label>
                                            <textarea name="review[body]" id="reviewBody[<%= post.reviews.indexOf(review) %>]" required class="d-block" class="form-control"><%= review.body %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check-inline">
                                                <input type="radio" name="review[rating]" value="1" id="editRating[<%= post.reviews.indexOf(review) %>]1" <%= review.rating === 1 ? 'checked' : '' %>>
                                                <label for="editRating[<%= post.reviews.indexOf(review) %>]1" class="form-check-label">1</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="radio" name="review[rating]" value="2" id="editRating[<%= post.reviews.indexOf(review) %>]2" <%= review.rating === 2 ? 'checked' : '' %>>
                                                <label for="editRating[<%= post.reviews.indexOf(review) %>]2" class="form-check-label">2</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="radio" name="review[rating]" value="3" id="editRating[<%= post.reviews.indexOf(review) %>]3" <%= review.rating === 3 ? 'checked' : '' %>>
                                                <label for="editRating[<%= post.reviews.indexOf(review) %>]3" class="form-check-label">3</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="radio" name="review[rating]" value="4" id="editRating[<%= post.reviews.indexOf(review) %>]4" <%= review.rating === 4 ? 'checked' : '' %>>
                                                <label for="editRating[<%= post.reviews.indexOf(review) %>]4" class="form-check-label">4</label>
                                            </div>
                                            <div class="form-check-inline">
                                                <input type="radio" name="review[rating]" value="5" id="editRating[<%= post.reviews.indexOf(review) %>]5" <%= review.rating === 5 ? 'checked' : '' %>>
                                                <label for="editRating[<%= post.reviews.indexOf(review) %>]5" class="form-check-label">5</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success">
                                                Submit    
                                            </button>
                                        </div>
                                    </form> 
                                </div>
                            </div>
                        <% } %>
                        <hr class="mt-2"/>
                    </div>
                <% }); %>
            <div id="new-review-form" class="mt-2">
                <h4>Write A Review</h4>
                <div class="row">
                    <div class="col-8">
                        <form action="/posts/<%= post.id %>/reviews" method="post" class="form-inline justify-content-between">
                            <div class="form-group">
                                <label for="reviewBody" class="form-label d-none">Your Review</label>
                                <textarea name="review[body]" id="reviewBody" required class="form-control" placeholder="Your Review Here"></textarea>
                            </div>
                            <div class="form-group my-2">
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="review[rating]" value="1" id="1" class="form-check-input">
                                    <label for="1" class="form-check-label">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="review[rating]" value="2" id="2" class="form-check-input">
                                    <label for="2" class="form-check-label">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="review[rating]" value="3" id="3" class="form-check-input">
                                    <label for="3" class="form-check-label">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="review[rating]" value="4" id="4" class="form-check-input">
                                    <label for="4" class="form-check-label">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" name="review[rating]" value="5" id="5" class="form-check-input">
                                    <label for="5" class="form-check-label">5</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">
                                    Submit Review    
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                        
            </div>
        </div>
    </div>
    <div id="post-edit-buttons" class="row m-2">
        <div class="col-2 col-md-6">
            <div class="row space-between">
                <% if(post.author.equals(currentUser._id)) { %>
                    <div class="col">
                        <a href="/posts/<%= post._id %>/edit">
                            <button class="btn btn-warning my-2">Edit Post</button>
                        </a>
                    </div>
                    <div class="col">
                        <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger my-2">Delete Post</button>
                        </form>
                    </div>
                <% } %>
                <div class="col">
                    <a href="/posts">
                        <button class="btn btn-info my-2">Back To Posts</button>
                    </a>
                </div>
            </div>     
        </div> 
    </div>
</div>

<script>
    var lat = <%= post.location.lat %>;
    var lng = <%= post.location.lng %>;
    var contentString = `
        <strong><%= post.title %><br />
        <%= post.location.formattedAddress %></strong>
    `;

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLEMAPS_KEY %>&callback=initMap"></script>