<!DOCTYPE html>
<html>
    <body>
        <h1><%= post.title %></h1>
        <% post.images.forEach(image => { %>
            <img src="<%= image.url %>" width="100px" style="margin-bottom:20px;">
        <% }); %>
        
        <p>Price: <%= post.price %></p>
        <p>Description: <%= post.description %></p>
        <p>Location: <%= post.location %></p>
        <p><a href="/posts/<%= post._id %>/edit">
            <button>Edit</button>
        </a></p>
        <p><form action="/posts/<%= post.id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form></p>
        <p>
            <a href="/posts">
            <button>Back</button>
            </a>
        </p>
    </body>
</html>